<!DOCTYPE html>
<html>
<head> 
    <title>Coder</title>
    <meta charset="utf-8">
    <!-- Standard Coder Includes -->
    <script>
        var appname = "{{app_name}}"; //app name (id) of this app
        var appurl = "{{&app_url}}";
        var staticurl = "{{&static_url}}"; //base path to your static files /static/apps/yourapp
    </script>
    <link href="/static/apps/coderlib/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/common/ace-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/apps/coderlib/js/index.js"></script>
    <script>
        Coder.addBasicNav();
    </script>
    <!-- End Coder Includes -->

    <!-- This app's includes -->
    <link href="{{&static_url}}/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="{{&static_url}}/js/index.js"></script>
    <!-- End apps includes -->
</head>
<body class="">
    <div class="pagecontent">
        <canvas id="my-canvas" height="500" width="500"></canvas>
        <div id="control-panel">
            <div class="control-element">
                <label>Color:</label>
                <input id="color-picker" type="color" name="drawColor">
            </div>
            <div class="control-element">
                <label>Pen size:</label>
                <input id="pen-size" type="range" name="penSize" min="1" max="100" value="50">
            </div>
            <div class="control-element">
                <input id="clear-canvas" type="button" name="clearCanvas" value="Reset canvas">
            </div>
        </div>
    </div>
</body>
</html>